# pycache folders
/code/__pycache__
/code/annotation/__pycache__
/code/boundingbox/__pycache__

# dataset
/code/annotation/dataset/*

# tracking
/code/opencv_tracking/__pycache__
/code/opencv_tracking/img-translation.py
/code/opencv_tracking/nfov.py
/code/opencv_tracking/opencv-trackers-border.py
/code/opencv_tracking/opencv-trackers-rect.py
/code/opencv_tracking/opencv-trackers.py