# pycache folders
/code/__pycache__
/code/annotation/__pycache__
/code/boundingbox/__pycache__
/code/opencv_tracking/__pycache__
/code/nfov/__pycache__

# dataset
/code/annotation/dataset

# tracking
/code/opencv_tracking/img-translation.py
/code/opencv_tracking/img-rotation.py
/code/opencv_tracking/demo.JPG

# external repository - dont add to my repository
/code/pytracking
/code/TracKit
/code/DaSiamRPN

# temporary scripts
/code/run_all_trackers.bat