# pycache folders
/code/__pycache__
/code/annotation/__pycache__
/code/boundingbox/__pycache__
/code/opencv_tracking/__pycache__
/code/nfov/__pycache__

# dataset
/code/annotation/dataset

# external repository
# /code/pytracking
# /code/TracKit
# /code/DaSiamRPN

# temporary scripts
/code/script_run_trackers.bat
/code/script_evaluation_iou.bat
/code/script_evaluation_plots.bat

# generated videos
/code/.fig/*.avi
/code/.fig/*.mp4
/code/.fig/*.mov