[submodule "code/pytracking"]
    path = code/pytracking
    url = https://github.com/visionml/pytracking.git

[submodule "code/DaSiamRPN"]
    path = code/DaSiamRPN
    url = https://github.com/foolwood/DaSiamRPN.git

[submodule "code/TracKit"]
    path = code/TracKit
    url = https://github.com/researchmm/TracKit.git